.title {
  font-family: var(--font-sans);
  font-size: 28px;
  line-height: 30px;
  margin: 0 0 24px;
  padding: 0;
  color: var(--color-black);
  width: 80%;
}

.title__link {
  color: var(--color-blue);
  text-decoration: none;
  transition: opacity 0.2s;
}

.title__link:hover {
  opacity: 0.6;
}
