:root {
  --font-sans:
    -apple-system,
    "BlinkMacSystemFont",
    "Segoe UI",
    "Roboto",
    "Oxygen",
    "Ubuntu",
    "Cantarell",
    "Fira Sans",
    "Droid Sans",
    "Helvetica Neue",
    sans-serif;
  --font-size: 16px;
  --line-height: 24px;

  --color-black: #282828;
  --color-blue: #296ff1;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-height: max-content;
}

body {
  margin: 0;
  padding: 0;
  font-size: var(--font-size);
  line-height: var(--line-height);
  -webkit-font-smoothing: antialiased;
}

#root {
  height: 100%;
}
